@use '../abstracts/' as *;

header {
    display: flex;
    flex-direction: column;
    background-image: url('../../images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-block-end: size(338);

    img {
        margin-block: size(26);
    }
}
