$ff-abril: 'Abril Fatface', cursive;
$ff-lato: 'Lato', sans-serif;
$font-sizes: (
    400: 1.125rem,
    500: 1.3125rem,
    600: 1.6875rem,
    700: 2rem,
    800: 3.75rem,
    900: 5rem,
);
$fw-400: 400;
$fw-700: 700;
