@use '../abstracts/' as *;

.flex {
    display: flex;
}

.even-columns {
    display: flex;
    gap: var(--flow-space, $flow-space);

    > * {
        width: 100%;
    }
}

.flex-columns {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
