@use '../abstracts/' as *;

body {
    font-family: $ff-lato;
    font-weight: $fw-400;
    font-size: fs(400);
    line-height: 1.6;
    color: clr(neutral, 400);
    background-color: clr(neutral, 100);
}
